<div class="contact-location">
    <div class="card">
        <div class="card-header text-center">
            <h3 class="card-title font-weight-bold">Contact & Location</h3>
        </div>
        <div class="card-content">
            <div class="card-body">
                <address>
                    <p><strong>Timber Resorts</strong></p>
                    <p class="small">
                        <i class="las la-home font-medium-3 font-weight-bold"></i>
                        <a href="https://maps.app.goo.gl/5VwrPTEpoLJ6AEHX7" target="_blank">Timber Resort Neelum Valley, Pakistan</a>
                    </p>
                    <p class="small">
                        <abbr title="After Hours">
                            <i class="las la-mobile font-medium-3 font-weight-bold"></i>
                        </abbr>
                        <a href="tel:0302 073 0707">0300 123 4567</a>
                    </p>
                    <p class="small">
                        <abbr title="Email">
                            <i class="las la-envelope font-medium-3 font-weight-bold"></i>
                        </abbr>
                        <a href="mailto:info@timberresorts.pk">info@timberresorts.pk</a>
                    </p>
                    <hr>
                    <a href="https://maps.app.goo.gl/5VwrPTEpoLJ6AEHX7" target="_blank">
                        <div class="row">
                            <div class="col-2">
                                <img alt="View on Google Maps" class="img-fluid" src="{{ url_for('static', filename='logo-google-maps.png') }}">
                            </div>
                            <div class="col-10">
                                <span class="darken-4">View on Google Maps</span>
                            </div>
                        </div>
                    </a>
                </address>
            </div>
        </div>
    </div>
</div>